[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
netmiko = "*"
pexpect = "*"
ciscoconfparse = "*"
napalm = "*"

[dev-packages]

[requires]
python_version = "3.6"
